* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.w-100 {
  width: 100%;
}

.d-f {
  display: flex;
}

.jf-c {
  justify-content: center;
}

.al-c {
  align-items: center;
}

.f-d {
  flex-direction: column;
}

.jf-b {
  justify-content: space-between;
}
.contain {
  width: 100%;
  padding: 0px 130px;
  box-sizing: border-box;
}
.manage_website {
  background-color: rgb(201, 157, 157);
  padding: 20px 0px;
}
.navBar {
  width: 100%;
  background-color: black;
}
.navBar li {
  list-style: none;

  height: 40px;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBar li a {
  text-decoration: none;
  color: white;
}
.navBar li a:hover {
  font-size: large;
  opacity: 0.7;
}
.add_new {
  background-color: rgb(187, 237, 202);
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(26, 26, 26);
}

.button_form {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
table {
  width: 100%;
  box-shadow: 0px -1px 10px rgb(206, 206, 206);
  border-collapse: collapse;
  overflow: hidden;
  margin: 20px 0px;
}
th {
  text-align: left;
}
.tr-thead {
  background-color: rgb(187, 237, 202);
}
th {
  padding: 10px 0px;
  padding-left: 5px;
}

td {
  border-bottom: 1px solid #ddd;
  text-align: left;
  padding: 10px 0px;
  padding-left: 5px;
}
tr:hover {
  background-color: rgb(235, 235, 235);
}
.button_form {
  display: flex;
  gap: 10px;
}
.btn_name_category {
  padding: 5px 10px;
}
.btn_name_category a {
  text-decoration: none;
  color: black;
}
.edit-category {
  padding: 5px 10px;
}
.edit-category:hover {
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}
.delete-category {
  padding: 5px 10px;
}
.delete-category:hover {
  background-color: aliceblue;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
}

#select_category {
  height: 37px;
}
.parseNumber {
  height: 17px;
  font-size: 16px;
  width: 100%;
  
}
